.homeCanvas{
    width: 100vw;
    height: 100vh;
    max-width:100%;
    /* position: absolute; */
}
.homeContainer{
    background-color: white;
    /* padding-top: 4vmax; */
    border-radius: 0 0 200px 200px;
    border-bottom: 200px solid white;
    position: relative;
    z-index: 1;
}

.homeContainer>h3{
    text-align: center;
    color: rgba(22, 19, 19, 0.861);
    padding: 4vmax;
}

.homeSkills{
    transform: translateY(-200px);
    background-color: hsl(219, 48%, 8%);
  
    height: 1500px;
    position: relative;
    padding: 200px;
    box-sizing: border-box;
    display: flex;
    perspective: 450px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
    margin-bottom: -200px;

}

.homeSkills>h3{
    text-align: center;
    color: white;
    margin-bottom: 4vmax;
    font-size: 4vmax;
}

.homeCubeSkills {
  width: 200px;
  height: 200px;
  animation: cubeRotation 15s linear infinite alternate;
  transform-style: preserve-3d;
  
}

.homeCubeSkillsFaces{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgb(0 ,0 ,0);
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0.7;

}
.homeCubeSkillsFaces>img{
    width: inherit;
    height: inherit;


}

.homeCubeSkillsFace1{
    transform: translate3d(0,0,100px);
}
.homeCubeSkillsFace2{
    transform: rotateY(180deg) translate3d(0,0,100px);
}
.homeCubeSkillsFace3{
    transform: rotateY(-90deg) translate3d(0,0,100px);
}
.homeCubeSkillsFace4{
    transform: rotateY(90deg) translate3d(0,0,100px);
}
.homeCubeSkillsFace5{
    transform: rotateX(90deg) translate3d(0,0,100px);
}
.homeCubeSkillsFace6{
    transform: rotateX(-90deg) translate3d(0,0,100px);
}

.cubeshadow{
    width: 300px;
    height: 40px;
    background-color: rgba(255,255,255,0.171);
    border-radius: 50%;
    margin-top: -10vmax;
    animation: cubeShadow 10s ease-in-out infinite alternate;
    filter: blur(3px);
}
@keyframes cubeRotation {
    to {
      transform: rotateY(360deg) rotateX(480deg) rotateZ(720deg);
    }
  }
@keyframes cubeshadow {
    to {
      transform:scale(1.4) rotateY(-10px) ;
    }
  }



 